@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&display=swap');
@charset "UTF-8";
:root {
    --font1: verdana, Geneva, Tahoma, sans-serif;
    --font2:'Passion One', cursive, sans-serif;
    --font3: 'Sriracha', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
html, body {
    background-color: darkgrey;
    min-height: 100vh;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 50px;

}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vh;
}
header > a {
    text-decoration: none;
    
}
section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
section#img02 {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
}
section { padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 2em;
     
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    color: white;
    background-color: rgb(51, 51, 51);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.318);
    background-attachment: fixed;
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.34);
    display: inline-block;
    text-overflow: 2px 2px 0px 2px;
    
}




footer { 
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}